h1 {
  padding-bottom: 10px;
  color: orange;
  text-align: center
}

.board-container {
  height: 500px;
  width: 100%;
}

.board {
  width: 100%;
  font-size: 0;
  margin: auto;
  background-image: url("../img/clippers-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.board-piece {
  opacity: 1;
  height: 33.33vh;
  width: 33.333333%;
  background-color: white;
  display: -webkit-inline-box;

  border-style: solid;
  box-sizing: border-box;
  border-width: 1px;
}

#one {
  border: 0;
}

#two {
  border-top-width: 0;
  border-bottom-width: 0;
}

#three {
  border: 0;
}

#four {
  border-right-width: 0;
  border-left-width: 0;
}

#six {
  border-right-width: 0;
  border-left-width: 0;
}

#seven {
  border: 0;
}

#eight {
  border-top-width: 0;
  border-bottom-width: 0;
}

#nine {
  border: 0;
}

.p1 {
  background-image: url("../img/p1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-color: blue;
  opacity: 0.3;
}

.p2 {
  background-image: url("../img/p2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-color: red;
  opacity: 0.3;
}

.game-over {
  opacity: 0.2;
  background-color: red;
}